<%- include header %>

  <%- include side %>
  
  <div class="main-wrap">
    <div class="main-top">
      <!-- <div class="global-tip"><p>登录成功！ / 登录失败！ / 网络忙，请稍后重试！</p></div> -->
      <% if(success){ %><div class="global-tip"><p><%= success%></p></div><% } %>
      <% if(error){ %><div class="global-tip"><p><%= error%></p></div><% } %>
      <% if(user){ %>
        <div class="post-opt">
          <a class="icon delete-btn" href="/remove/<%= post._id %>" title="删除">删除</a><a class="icon edit-btn" href="/edit/<%= post._id %>" title="编辑">编辑</a><a class="icon home-btn" href="/" title="返回首页">返回首页</a>
        </div>
      <% } %>
      <div class="timer">
        <span class="time_section"><span class="time_amount">20</span><br>January</span>
        <span class="time_section"><span class="time_amount">13</span><br>Hour</span>
        <span class="time_section"><span class="time_amount">20</span><br>Minute</span>
        <span class="time_section"><span class="time_amount">14</span><br>Second</span>
      </div>
    </div>

    <div class="post-wrap">
      <div class="post-box">
        <h1 class="cont-tit"><%= post.title %></h1>

        <div class="cont-meta">
          <!-- <span class="author">
            <span class="headface"><img src="../public/upload/1084-mbugoq.jpg" width="35px" height="35px" alt="Jimco"></span>
            <a href="/u/Jimco" title="Jimco">Jimco</a>
          </span> -->
          <span class="tags">
            Tags: 
            <% post.tags.forEach(function(tag, index){ %>
              <% if(tag){ %> <a href="/tags/<%= tag %>"><%= tag %></a><% } %>
            <% }) %>
          </span>
          <span class="date"><%= post.time.minute %></span>
          <span class="views"><%= post.pv %> 浏览</span>
          <span class="commnums"><%= post.comments.length %> 评论</span>
        </div>

        <div class="cont-desc">
          <%- post.post %>
        </div>

        <%- include comment %>
      </div>
    </div>
  </div>

<%- include footer %>