<!DOCTYPE HTML>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>xyBlog - 文章发布</title>
  <link type="text/css" rel="stylesheet" href="/css/xyreset.css" />
  <link type="text/css" rel="stylesheet" href="/css/edit.css" />

</head>
<body>
  <div class="global-header">
    
  </div>
  
  <div class="pb-wrap">
    <div class="pb-cont-wrap">
      <div class="pb-main">
        <h2>文章发布</h2>
        <div class="pb-post-area">
          <form method="post">
            <div class="pb-title-holder">
              <h3 class="pb-title">标题 <span>( 必填 )</span></h3>
              <input type="text" class="pb-title-input" name="title" value="<%= post.title %>">
            </div>

            <div class="pb-title-holder">
              <h3 class="pb-title">标签 <span>( 多个标签以空格分开 )</span></h3>
              <input type="text" class="pb-title-input" name="tag1" value="<%= post.tags[0] %> <%= post.tags[1] %> <%= post.tags[2] %>" disabled="disabled">
            </div>

            <div class="pb-post-holder">
              <h3 class="pb-title">内容 <span>( 支持 Markdown 语法 )</span></h3>
              <textarea class="pb-text-area" name="post"><%= post.post %></textarea>
            </div>
            
            <div class="pb-opt-holder">
              <button class="pb-submit" type="submit">保存</button>
              <a href="/" class="pb-cancel">取消</a>
            </div>
          </form>

        </div>

          
      </div>

      <div class="pb-aside">
        <div class="pb-mod">
          <h4 class="pb-mod-title">标签</h4>
          <div class="pb-mod-holder">
            <div class="post-tag-holder">
              <textarea name="tags" placeholder="多个标签以空格分开"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="/js/jquery-1.8.3.min.js"></script>
  <script src="/js/sea.js"></script>
  <script>
    console.log('Edit page...');
  </script>
</body>
</html>