<%- include header %>

  <div class="xymain">
    <%- include side %>
    
    <article>
      <% if(success){ %><div><%= success%></div><% } %>
      <% if(error){ %><div><%= error%></div><% } %>
      <p>Welcome to <%= title %></p>
    </article>
  </div>

<%- include footer %>