<%- include header %>

  <%- include side %>

  <div class="main-wrap">
    <div class="tags-box">
      <% posts.forEach(function(tag, index){ %>
        <a href="/tags/<%= tag %>"><%= tag %></a>
      <% }) %>
    </div>
  </div>

<%- include footer %>