<%- include header %>

  <div class="xymain">
    <%- include side %>
    
    <div class="main-wrap">
      <ul>
      <% posts.forEach(function(post, index){ %>
        <li>
          <h1><a href="/post/<%= post._id %>" title="<%= post.title %>"><%= post.title %></a></h1>
          <div class="cont-meta">
            <span class="author">
              <span class="headface"><img src="<%= post.headface %>" alt="<%= post.name %>"></span>
              <a href="/u/<%= post.name %>" title="<%= post.name %>"><%= post.name %></a>
            </span>
            <span class="date">日期：<%= post.time.minute %></span>
            <span class="tags">
              标签：
              标签：
              <% post.tags.forEach(function(tag, index){ %>
                <% if(tag){ %><a href="/tags/<%= tag %>"><%= tag %></a><% } %>
              <% }) %>
            </span>
            <span class="views">浏览：<%= post.pv %></span>
            <span class="commnums">评论：<%= post.comments.length %></span>
          </div>
          <div class="cont-abstract">
            <%- post.post %>
          </div>
        </li>
      <% }) %>  
      </ul>

      <%- include pagenav %>
    </div>
    
  </div>

<%- include footer %>